<body
        class="fallback-font"
        style="background: #fbfbfb"
>
<table border="0" cellpadding="0" cellspacing="0" style="min-width: 600px; margin: 0 auto; border: 1px solid #f2f2f4;
    background-color: white;">
    <tr>
        <td style="width: 100%; text-align: center;">
            <img src='cid:logo' alt='logo' style="width: 600px;" />
        </td>
    </tr>
    <tr>
        <td>
            <center>
                <br/>
